#emailForm {
    display: flex;
    justify-content: center;
    padding: 50px;
}

form {
    display: block;
    padding: 16px 36px;
    
    border-radius: 15px;
    background: #c3cbc8;
    box-shadow: 34px 34px 68px #838886, -34px -34px 68px #ffffff;
}

#logo {
    display: block;
    text-align: center;
    margin: 30px auto 8px;
}

.information {
    outline: none;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    display: block;
    border: none;
    width: 97%;
}

.comic-button {
    display: block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: teal;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    width: 100%;
    margin-bottom: 20px;
}

.comic-button:hover {
    background-color: #fff;
    color: rgb(2, 99, 99);
    border: 2px solid rgb(2, 99, 99);
    box-shadow: 5px 5px 0px rgb(2, 80, 80);
    cursor: pointer;
}

.comic-button:active {
    background-color: rgb(3, 121, 121);
    box-shadow: none;
    transform: translateY(4px);
}

#contactVia {
    font-size: 16px;
}

.current-year {
    font-size: 20px;
    margin-bottom: 200px;
    padding-left: 100px;
}