/albums/nbproject/private/
/albums/dist/
/albums/build/

/carts/nbproject/private/
/carts/dist/
/carts/build/

/email/nbproject/private/
/email/dist/
/email/build/

/portfolio/nbproject/private/
/portfolio/dist/
/portfolio/build/

/survey/nbproject/private/
/survey/dist/
/survey/build/

/sqlgateway/nbproject/private/
/sqlgateway/dist/
/sqlgateway/build/

/emailsql/nbproject/private/
/emailsql/dist/
/emailsql/build/

/musicstore/nbproject/private/
/musicstore/build/
/musicstore/dist/