/albums/nbproject/private/
/albums/build/

/carts/nbproject/private/
/carts/build/

/email/nbproject/private/
/email/build/

/portfolio/nbproject/private/
/portfolio/build/

/survey/nbproject/private/
/survey/build/