#surveyForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125%;
    padding: 16px 36px;
    border-radius: 50px;
    min-height: 100vh;
}

form {
    display: block;
    padding: 16px 36px;
    border-radius: 38px;
    background: linear-gradient(145deg, #c7cdcb, #ecf4f2);
    box-shadow: 35px 35px 71px #a4a9a7, -35px -35px 71px #ffffff;
}

#logo {
    display: block;
    text-align: center;
    margin: 30px auto 8px;
}

.information {
    outline: none;
    padding: 8px;
    font-size: 16px;
    display: block;
    border: none;
    width: 98%;
}

.comic-button {
    display: block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: teal;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    width: 100%;
}

.comic-button:hover {
    background-color: #fff;
    color: rgb(2, 99, 99);
    border: 2px solid rgb(2, 99, 99);
    box-shadow: 5px 5px 0px rgb(2, 80, 80);
    cursor: pointer;
}

.comic-button:active {
    background-color: rgb(3, 121, 121);
    box-shadow: none;
    transform: translateY(4px);
}

#contactVia {
    font-size: 16px;
}

.radio-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 28px;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.radio-button__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
    background-color: teal;
    border-color: transparent;
    transform: scale(0.8);
    box-shadow: 0 0 20px teal;
}

.radio-button__input:checked + .radio-button__label {
    color: teal;
}

.radio-button__label:hover .radio-button__custom {
    transform: scale(1.2);
    border-color: teal;
    box-shadow: 0 0 20px #4c8bf580;
}

.cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.cyberpunk-checkbox:before {
    content: "";
    background-color: teal;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
